<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--包扫描路径-->
    <!--<context:component-scan base-package="com.itjiguang.yanxuan.account"/>-->

    <!--开启mvc的注解-->
    <mvc:annotation-driven />

    <!--默认的servlet-->
    <mvc:default-servlet-handler/>

    <!-- 引用dubbo 服务 -->
    <dubbo:application name="yanxuan_account_server" />
    <dubbo:registry address="zookeeper://192.168.142.129:2181" timeout="50000"/>
    <dubbo:annotation package="com.itjiguang.yanxuan" />
</beans>